<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTI-backend-API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="nav">
        <a class="item" href="/">Home</a>
        <a class="item" href="/apis">APIs</a>
    </div>
    <h1 class="title-home title">Welcome to HTI Registration APIs</h1>
    <div class="animation">
        <div class="container">
            <div class="loadingspinner">
              <div id="square1"></div>
              <div id="square2"></div>
              <div id="square3"></div>
              <div id="square4"></div>
              <div id="square5"></div>
            </div>
          </div>
    </div>
</body>
</html>